:root {
    --frosted-mint: #daf2d7ff;
    --mint: #e4fde1ff;
    --tea-green: #c6edc3ff;
    --celadon: #a7dca5ff;
    --willow-green: #90cf8eff;
}

/* CONFIGURACIÓN DEL FONDO DE LA PÁGINA */
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: #ffffff !important;
}

/* Color de fondo principal del navbar */
.navbar-color {
    background-color: var(--willow-green) !important;
}

/* Estilos para cuando se pasa el mouse por encima */
.navbar-color .navbar-item:hover, 
.navbar-color .navbar-link:hover {
    background-color: rgba(255, 255, 255, 0.05) !important;
    color: var(--tea-green) !important;
}

/* Estilos para los elementos de la barra de navegación */
.navbar-color .navbar-item, 
.navbar-color .navbar-link {
    color: #000000 !important;
    background-color: transparent !important;
}

/* Estilos para el dropdown */
.navbar-color .navbar-dropdown {
    background-color: var(--celadon) !important; 
    border-top: none;
}

.navbar-color .navbar-dropdown .navbar-item:hover {
    background-color: var(--willow-green) !important;
    color: var(--tea-green) !important;
}

.navbar-color .navbar-dropdown .navbar-divider {
    background-color: rgba(255, 255, 255, 0.3); 
}