PORT=Puerto en el que se ejecutará la aplicación / 5000 en mi caso
DB_HOST=Host de la base de datos / localhost si esta en tu computadora
DB_PORT=Puerto de la base de datos / suele ser 5432 para PostgreSQL
DB_USER=usuario de la base de datos
DB_PASSWORD=contraseña de tu base de datos
DB_DATABASE=nombre de la base de datos / planetaestacionamiento