:root {
    --azul-oscuro: #0A192F;
    --azul-marino: #89d4d2;
    --turquesa: #0bb0a7;
    --azul-petroleo: #133A42;
    --verde-agua: #3AB397;
}


/* CONFIGURACIÓN DEL FONDO DE LA PÁGINA */
html {
    scroll-behavior: smooth;
}

body {
    background-image: radial-gradient(#3AB397 0.5px, transparent 1px);
    background-size: 20px 20px; 
    background-color: #ffffff;
    min-height: 100dvh;
    margin: 0;
    padding: 0;
    min-height: 100dvh;

}

.section {
    background: transparent !important;
    border-radius: 15px;
    margin: 20px;
}

.card {
    border: 2px transparent solid;
    background-color: var(--azul-marino);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease border-color 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    border-color: var(--turquesa);
    border-width: 3px;
}

.footer {
    height: 100%;
    padding: 3.5rem 0;
}

.linea-divisoria {
    height: 7px;           
    width: 65%;         
    margin: 0.25rem auto;     
    background-color: #0bb0a74a;
    border-radius: 5px;
}


/* SKELETON */


/* Contenedor del skeleton */
.skeleton-box {
    background-color: #e0e0e0;
    background-image: linear-gradient(90deg, #e0e0e0 0px, #f5f5f5 40px, #e0e0e0 80px);
    background-size: 200% 100%;
    animation: skeleton-pulse 1.5s infinite ease-in-out;
    border-radius: 8px; 
    width: 100%;
    height: 400px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

/* La animación */
@keyframes skeleton-pulse {
    0% { background-position: 200% 0; }
    100% { background-position: -200% 0; }
}

/* Imagen invisible */
.fade-img {
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
    display: block;
    width: 100%;
    height: auto;
}

/* Imagen ya cargada */
.fade-img.is-loaded {
    opacity: 1;
}

.skeleton-box.is-loaded {
    background: transparent; 
    animation: none;        
}
