.dashboard {
    min-height: 100vh;
    background-color: var(--azul-petroleo);
}

/*  SIDEBAR */

.sidebar {
    min-height: 100dvh;
    min-width: 260px;
    background-color: var(--turquesa);
}

.sidebar-header {
    padding: 1rem;
    gap: 0rem;
    font-size: 1.5rem;
    font-weight: bold;
}

/* HEADER SIDEBAR */

.marca {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.marca-logo {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.marca-nombre {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.marca-nombre .title {
    margin: 0;
}

.marca-nombre h1,
.marca-nombre h2 {
    margin: 0;
    white-space: nowrap;
}

/* SIDEBAR MENU */

.sidebar .menu-list a {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: transparent;
    color: black;
}

.sidebar .menu-list a.is-active {
    color: white;
    background-color: var(--azul-petroleo);
}

.sidebar .menu-list a:hover {
    background-color: var(--azul-petroleo);
    color: white;
}

/* DASHBOARD */

.dashboard-content {
    padding: 4rem !important;
}

.dashboard-header {
    margin-bottom: 5rem;
}


/* TARJETA DE BIENVENIDA */

.bienvenido-card {
    margin-bottom: 1.5rem;
    padding: 1rem;
}

.bienvenido-card .icon {
    margin-bottom: 1rem;
}

.bienvenido-card:hover {
    transform: translateY(-4px);
    transition: transform 0.2s ease;
}

/* TARJETAS DE CONFIGURACIÓN */

.config-card {
    height: 100%;
    transition: transform 0.2s ease;
}

.config-card:hover {
    transform: translateY(-4px);
}

.config-card .icon {
    margin-bottom: 1rem;
}

.config-titulo {
    color: var(--azul-petroleo);
}

.config-descripcion {
    color: var(--azul-oscuro);
}

.activity-card {
    margin-top: 1.5rem;
}


/* AGREGAR ESPACIO */
.modal-card-head {
    background-color: var(--azul-petroleo);
}

.modal-card-title {
    color: white;
    font-weight: bold;
}

.modal-card-body {
    background-color: var(--azul-petroleo);
}

.modal-card-foot {
    background-color: var(--azul-petroleo);
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}

/* Color del resplandor cuando se enfoca un input */
.input:focus, .textarea:focus {
    border-color: var(--turquesa);

    box-shadow: 0 0 0 0.125em rgba(11,176,167,0.25);
}

/* Color de l */
.select::after {
  border-color: var(--turquesa) !important; 
}

.select select:focus {
    border-color: var(--turquesa);
    box-shadow: 0 0 0 0.125em rgba(11, 176, 167, 0.25);
}
