/* HERO DE 'NOSOTROS' */


.hero.hero-nosotros {
    background: linear-gradient(rgba(57, 190, 184, 0.3), rgba(57, 190, 184, 0.3)), url('../img/hero-nosotros.webp') center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero.hero-nosotros .hero-body {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
}

.linea-divisoria-nosotros {
    justify-content: center;
    height: 7px;           
    width: 100%;              
    background-color: #0bb0a77a;
}
