/* HERO DE 'NOSOTROS' */


.hero.hero-nosotros {
    background: linear-gradient(rgba(57, 190, 184, 0.3), rgba(57, 190, 184, 0.3)), url('../img/hero-nosotros.webp') center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero.hero-nosotros .hero-body {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
}

.texto-principal {
    color: var(--azul-marino);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
}

.card.card-nosotros {
    color: #ffffff !important;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}

.card.titulo-tarjeta {
    font-size: 1.5rem;
    letter-spacing: 1px;
    flex-wrap: wrap;
    line-height: 1.2;
}


.linea-divisoria-nosotros {
    justify-content: center;
    height: 7px;           
    width: 100%;              
    background-color: #0bb0a77a;
}
