/* INICIO */

.texto-inicio {
    color: var(--azul-marino);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}

.parrafo-inicio {
    color: var(--azul-oscuro);
    font-size: 1.1rem;
    line-height: 1.5;
    text-align: justify;
    font-weight: 400;
}


.section-inicio {
    position: relative;
    z-index: 1;
    background-color: transparent !important; 
    padding-top: 1rem;
    padding-bottom: 1rem;  
}