body {
    min-height: 100dvh;
    background-image: 
    linear-gradient(rgba(255,255,255,0.95), rgba(255,255,255,0.95)),
    url('../img/fondo-servicios.webp');
    background-size: cover;
    background-repeat: no-repeat;
}

.columns {
    align-items: stretch;
}

.seccion-servicios {
    position: relative;
    padding-bottom: 50px; 
}

.linea-divisoria-servicios {
    width: 50%;              
    height: 7px;
    margin: 0 auto;           
    background-color: var(--turquesa);
    border-radius: 5px;
}

.imagen-servicios {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-servicios {
    color: #ffffff !important;
    height: 100%;

    padding: 5px;
    border-radius: 8px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}

.titulo-tarjeta {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    font-size: 1.5rem;
    line-height: 1.2;
    letter-spacing: 1px;
}

.imagenes-laterales {
    height: 100%;
    background-size: cover;
    background-position: center;
    position: sticky;
    top: 0;
}

.imagen-izquierda {
    background-image: url('https://picsum.photos/120/400');
}

.imagen-derecha {
    background-image: url('https://picsum.photos/120/400');
}